.cart {
    padding: 25px 15px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.chooseBtn, .resetBtn {
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
    transition: all 1s;
}

.chooseBtn {
    background: #2ECC71;
    border: 2px solid #2ECC71;
}

.resetBtn {
    background: #EC7063;
    border: 2px solid #EC7063;
}

.chooseBtn:hover {
    background: transparent;
    color: #2ECC71;
}

.resetBtn:hover {
    background: transparent;
    color: #EC7063;
}